---
summary_host: test
summary_user: arteria
summary_host_key: /path/to/ssh/key
summary_destination: /tmp/summaries/

runfolder_service_port: 10800
bcl2fastq_service_port: 10900

# String of file paths to exclude from the compressed archive (egrep syntax)
archive_excludes: "\"'^Config|^InterOp|^SampleSheet.csv|^Unaligned|^runParameters.xml|^RunInfo.xml\""
# Which file entries we should not link to when creating the archive copy of the runfolder 
archive_exclude_links: "-e Data -e Thumbnail_Images"
